.grid {
  width: 400px;
  height: 600px;
  background-image: url("./assets//background.jpg");
  position: relative;
  font-size: 100px;
  text-align: center;
}

.doodler {
  width: 94px;
  height: 95px;
  background-image: url("./assets/doodler.png");
  position: absolute;
}

.platform {
  width: 90px;
  height: 26px;
  background-image: url("./assets//platform.png");
  position: absolute;
}
